.Rproj.user
.Rhistory
.RData

test.R

Read-and-delete-me

biography_2015_03_17.csv

fertility_2015_03_17.csv

Supporting/Methods for calculating vital rates 2.doc

README_OLD.Rmd

Supporting/~$thods for calculating vital rates 2.doc

Supporting/multiyear vital rates for seven primates.csv

Supporting/README.txt

vignettes/VitalRates_cache/