.Rproj.user
.Rhistory
*.RData

Read-and-delete-me

data/*

supporting/Methods for calculating vital rates 2.doc

README_OLD.Rmd

supporting/*

vignettes/VitalRates_cache/

analysis_scripts/old/*

test/*
